<h1 font="42">MDClone</h1>
<p><b>Start search for drugs:</b></p>
<div class="ui-widget">
  <form name="form" #f="ngForm">
    <label>Drug name: </label>
    <input type="text" id="tags" name="test" #username="ngModel" placeholder="type your text" [(ngModel)]="drug"/>
    <br><br>
    <button id="drugs" type="button" (click)="getDrug()">drugs.com</button>
    <button type="button" (click)="getDrug()">treato.com</button>
    <p id="output">{{searchData}}</p>
  </form>
</div>
